*{
    margin: 0px;
    padding: 0px;
   
    background-color: none;
    
    
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: #1f242d;
    color: whitesmoke;
    height: 100vh;
    width: 100%;
 
}
nav img{
  animation: slideright 1.5s ease forwards;
}
.logo{
    size: 10rem;
    height: fit-content;
    max-width: 20rem;
}
.my{
 
    position: absolute;
    width: 100%;
    height: 100vh;

}
#bg .mybg{
  animation: float 3.3s ease-in-out infinite;
  margin-left: -20rem;
  margin-top: 3rem;
}
.me{
    position: relative;
   
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    
    margin: 10px 20px ;
   
    
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: rgb(27, 79, 78);
    font-size: 1rem;
    font-weight: bold;
    opacity: 0;
    animation: slideup .3s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
nav ul li a:hover{
    color: #0ef;
}
.main h1{
   margin-top: -4rem;
    font-size: 2rem;
    animation: slidedown .5s ease forwards;
    
    
}
.main h3{
  animation: slideup .5s ease forwards;
}
.image{
  margin-top: -2rem;
}
.image .me{
 
  
  /* margin-top: -3rem; */
  height: fit-content;
  width: fit-content;
}
.b{
  margin-left: 9rem;
}
.b a{
  text-decoration: none;
}
span1{
  color: #0ef;
}
span2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
    color: #0ef;
}
.main .links a{
    display: inline-flex;
    width: 2rem;
    height: 2rem;
   font-size: 2rem;
   margin-top: -1rem;
   text-decoration: none;
    margin-bottom: 2rem;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 2rem;
    color: #0ef;
    margin-left: 1rem;
    opacity: 0;
    animation: slideright .3s ease forwards;
    animation-delay: calc(.1s * var(--i));
    
    
}
.main .links a:hover{
   
    background-color:#0ef ;
    color: #1f242d;
}

.btn-76,
.btn-76 *,
.btn-76 :after,
.btn-76 :before,
.btn-76:after,
.btn-76:before {
  border: 0 solid;
  box-sizing: border-box;
}
.main .btn-76 a{
 
   margin-top: 0rem;
    margin-bottom: 0rem;
    background: transparent;
    border: 0px solid #0ef;
    border-radius: 0rem;
    color: #0ef;
    margin-left: 1rem;
}
.main .btn-76 a:hover{
  
  color: #000;
}
.btn-76 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#000;
  background-image: none;
  color: 
#fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-76:disabled {
  cursor: default;
}
.btn-76:-moz-focusring {
  outline: auto;
}
.btn-76 svg {
  display: block;
  vertical-align: middle;
}
.btn-76 [hidden] {
  display: none;
}
.btn-76 {
  --neon: 
#0ea5e9;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  outline: 4px solid 
#fff;
  outline-offset: -4px;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s linear 0.1s;
}
.btn-76:hover {
  background: var(--neon);
  box-shadow: 0 0 5px var(--neon), 0 0 25px var(--neon), 0 0 50px var(--neon),
    0 0 100px var(--neon);
  color: 
#fff;
  outline-color: 
transparent;
  transition: 0.2s linear 0.6s;
}
.btn-76 span {
  display: block;
  inset: 0;
  position: absolute;
}
.btn-76 .top {
  border-top: 4px solid var(--neon);
  opacity: 0;
  transform: translateX(calc(-100% + var(--progress, 0%)));
  transition: none;
}
.btn-76:hover .top {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear;
}
.btn-76 .right {
  border-right: 4px solid var(--neon);
  opacity: 0;
  transform: translateY(calc(-100% + var(--progress, 0%)));
  transition: none;
}
.btn-76:hover .right {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.2s;
}
.btn-76 .bottom {
  border-bottom: 4px solid var(--neon);
  opacity: 0;
  transform: translateX(calc(100% - var(--progress, 0%)));
  transition: none;
}
.btn-76:hover .bottom {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.4s;
}
.btn-76 .left {
  border-left: 4px solid var(--neon);
  opacity: 0;
  transform: translateY(calc(100% - var(--progress, 0%)));
  transition: none;
}
.btn-76:hover .left {
  --progress: 100%;
  opacity: 1;
  transition: transform 0.2s linear 0.6s;
}
.main{
  margin-top: 2rem;
    padding-left: 10%;
    padding-top: 5rem;
}
.main p{
    line-height: 2rem;
    margin-bottom: 2rem;
    
}
.main a{
    font-weight: bold;
    padding: .5rem;
    background-color: #1f242d;
    color:#0ef;
    border-radius: 1rem;
    text-decoration: none;
    margin-left: 4rem;
    border: 2px solid #0ef;
    
}

.image{
    height: 24rem;
    width: 25rem;
    position: absolute;
    bottom: 0;
    right: 5rem;
    margin-bottom: 3rem;
    animation: ring 3.3s ease forwards, float 3.8s ease-in-out infinite;;

}
.image img{
    height: 100%;
    position: absolute;
    left: 50% ;
    border-bottom: 100px;
    transform: translate(-70%);
    left: 45%;
    width: 30rem;
    
}
#details{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideright .5s ease forwards;
  animation-delay: calc(.1s * var(--i));
  opacity: 0;
  /* flex-direction: column; */
  width: 100%;
  height: 100vh;
 /* background-color:#0ea5e9; */
  margin-top: 5rem;
  border-radius: 3rem;
  /* color:#1f242d; */
  color: #0ea5e9;
  font-weight: bold;
  font-family:sans-serif;
}
.skill{
  background-image: url(./image/skill.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25rem;
  height: 25rem;
  margin-left: -7rem;
}
.skill img{
  margin-top: 11rem;
  margin-left: 13.7rem;
}
.skills{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  
  /* flex-direction: column; */
  
  margin: 5rem;
}
.skills div{
  height: 12rem;
  width: 7rem;
  margin:1rem;
  padding: 2rem;
  background-color: #0ea5e9;
  border-radius: 1rem;
  color: #000;
}
.skills div h3{
  color:#1f242d;
  margin-top: -2rem;
  margin-left: -1.5rem;
  padding: 1rem;
  /* opacity: 1; */
}
.skills div li{
  /* color: red; */
  padding: 0.3rem;
  text-decoration: none;
}

.nskills{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
   /* margin: 5rem; */
   margin-top: -5rem;

}
.nskills div{
  height: 14rem;
  width: 10rem;
  margin:1rem;
  padding: 2rem;
  background-color: #0ea5e9;
  color: #000;
  border-radius: 1rem;
}
.nskills h3{
  color: #1f242d;
  padding: .2rem;
}
.block{
  margin-top: -5rem;
}

#details h1{
  
 
}
#details p{
  margin: 3rem;
  color: rgb(0, 0, 0);
  animation: slideright 3s ease forwards;
}
#details1{
  display: flex;
  justify-content: center;
  animation: slideright .3s ease forwards;
  animation-delay: calc(.1s * var(--i));
  opacity: 0;
  /* flex-direction: column; */
  width: 100%;
  height: 100vh;
 background-color:#0ea5e9;
  margin-top: 5rem;
  /* border-radius: 3rem; */
  color:#1f242d;
  font-weight: bold;
  font-family:sans-serif;
}
#details1 p{
      font-size: larger;
}
.slogo{
  width: 40%;
  height: 100vh;
  color: #000;
  background-image: url(./image/about.png);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0px;

/* background-color: hsla(240, 100%, 50%, 0.5); 
  width: 200px;
  height: 200px;
  opacity: 0.1;
  color: #000; */

}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#details1 p{
  margin: 3rem;
  /* width: 120vh; */
  width: 45rem;
  color: rgb(0, 0, 0);
}
#details2{
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  animation: slideright .3s ease forwards;
  animation-delay: calc(.1s * var(--i));
  opacity: 0;
  flex-direction: column;
  width: 100%;
  height: 100vh;
 background-color:#0ea5e9;
  margin-top: 5rem;
  /* border-radius: 3rem; */
  color:#1f242d;
  font-weight: bold;
  font-family:sans-serif;
 
}

#details2 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
#details2 p{
  margin: 3rem;
  color: rgb(0, 0, 0);
}
#project{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
#project a{
  text-decoration: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.c1{
  margin-left: -10rem;

}

#project a:hover{
  background-color: #1f242d;
}
#project a img{
  height: 9rem;
  width: 15rem;
  margin-left: 1rem;
}
.dnav{
  
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills{
  display: flex;
  align-self: center;
  justify-content: space-between;
  /* color: #0ea5e9; */
   
   
}
.skills p{
    color: #0ea5e9;
}
#skill {
  margin-bottom: -3rem;
}
#service{
  /* margin-top: -10rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#service div{
  display: flex;
  justify-content: center;
}
#service img{
  height: 10rem;
  width: 10rem;
  /* margin-left: 1rem; */
  background: transparent;
  animation: slideup 3s ease forwards; 
    color: #0ef;
    margin: 3rem 7rem ;
}

#service h2{
  /* margin-top: 14rem; */
  margin-left: -14rem;
  margin-right: 5rem;
}
#service img:hover{

  background-color: rgba(16, 123, 194, 0.637);
  
}
#service{
  display: flex;
  align-self: center;
  justify-content: center;
   
   
}

.skills{
  display: flex;
  justify-content: center;
  align-content: center;
  
}
.info{
  margin-left: 9rem;
  margin-top: -2rem;
}
.skills pre{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
 @keyframes slideright{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
 }
 @keyframes slideup{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
  
 }
 @keyframes slidedown{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
 
  
 } 

 @keyframes ring{
  0%{
    
    opacity: 0;
  }
  100%{
   
    opacity: 1;
  }
  
 } 
 @keyframes float{
  0%{
    transform: translateY(0);
   
  }
  50%{
    transform: translateY(-13px);
  }

  100%{
    transform: translateY(0);
   
  }

}

 footer{
  
  margin-top: 3rem;
  margin-bottom: 0;
  /* background-color:#1f242d; */

  background-color: rgba(16, 123, 194, 0.637);
  height: 2rem;
  width: 100%;

  position: relative;
  text-align: center;

 }
